.dropdown { 
    position: static;
}

.dropdown-menu {
    width: 100%;
    text-align: center;
}

.dropdown-menu>li {
    display: inline-block;
}

.dropdown-toggle::after {
    color:#00439c;
}

.header-top {
    height: 30px;
    width: 100%;
}

.text-jumbo {
    width: 360px;
}

.text-plus {
    width: 50%;
}

.logo-games {
    width: 220px;
}

a.btn {
    border-radius: 40px;
    border-width: 2px;
}

a.btn:hover {
    box-shadow: inset 0 0 0 2px #fff;
}

a.btn.border-inset-black:hover {
    box-shadow: inset 0 0 0 2px #000;
}

a.btn.btn-play-plus {
    background-color: #ccc;
}

a.btn.btn-play-plus:hover {
    box-shadow: 5px 5px 5px #555;
}

.box-games {
    border-radius: 10px;
    overflow: hidden;
}

.border-jumbo-games {
    padding: 3px;
    border-radius: 10px;
    border: 2px solid blue;
}

.hover-console {
    opacity: 0.6;
    border-bottom: 1px solid transparent;
}

.hover-console:hover {
    opacity: 1;
    border-bottom: 1px solid coral;
}

.float {
    transition: all .5s ease-in-out;
}

.float:hover {
    transform: translateY(-20px);
    transition: all .5s ease-in-out;
}

.f-25 {
    font-size: 25px;
}

.f-15 {
    font-size: 15px
}

.img-world {
    height: 15px;
    width: 15px;
}

.style-none {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.style-none li {
    margin-bottom: 0.5rem;
}

.underline {
    text-decoration: underline;
}

/* BG IMAGES */

.container-fluid.jumbotron {
    background: url(../img/jumbo-bg.png) 50% 50% no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 650px;
}

.container-fluid.takes-two {
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) 50% 50% no-repeat;
    background-size: cover;
    border-radius: 0;
    margin: 0;
}

/* COLORS */

.bg-black {
    background-color: #000;
}

.bg-gray {
    background-color: #777
}

.bg-dark-gray {
    background-color: #222;
}

.bg-blue {
    background-color: #00439c;
    color: #fff;
}

.bg-dark-blue {
    background-color: rgb(1, 1, 71);
}

.bg-orange {
    background-color:#b9371c;
    color: #fff;
}

/* MEDIA QUERY */

@media only screen and (min-width: 330px) and (max-width: 991px) {

    .logo-games {
        width: 50%;
    }


}

@media only screen and (min-width: 330px) and (max-width:769px) {

    .none {
        display: none;
    }

}

@media only screen and (min-width: 992px) {

    .text-footer {
        width: 50%;
    }


}