.header-top {
    height: 30px;
    width: 100%;
}

.text-jumbo {
    width: 360px;
}

.text-plus {
    width: 50%;
}

.logo-games {
    width: 220px;
}

.button {
    border: 0;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.box-games {
    border-radius: 8px;
    overflow: hidden;
}

.border_hover:hover {
    border-bottom: 1px solid coral;
}

.float {
    transition: all .7s;
}

.float:hover {
    transform: translateY(-20px);
    transition: all .7s;
}

.f-25 {
    font-size: 25px;
}

.f-15 {
    font-size: 15px
}

.img-world {
    height: 15px;
    width: 15px;
}

.style-none {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.style-none li {
    margin-bottom: 0.5rem;
}

.underline {
    text-decoration: underline;
}

/* BG IMAGES */

.container-fluid.jumbotron {
    background: url(../img/jumbo-bg.png) 50% 50% no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 650px;
}

.container-fluid.takes-two {
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) 50% 50% no-repeat;
    background-size: cover;
    border-radius: 0;
    margin: 0;
}

/* COLORS */

.bg-black {
    background-color: #000;
}

.bg-gray {
    background-color: #777
}

.bg-dark-gray {
    background-color: #222;
}

.bg-blue {
    background-color: #00439c;
    color: #fff;
}

.bg-dark-blue {
    background-color: rgb(1, 1, 71);
}

.bg-orange {
    background-color:#b9371c;
    color: #fff;
}

.bg-button-plus {
    background-color: #ccc;
    color: #00439c;
}

/* MEDIA QUERY */

@media only screen and (min-width: 330px) and (max-width: 991px) {

    .logo-games {
        width: 50%;
    }


}

@media only screen and (min-width: 330px) and (max-width:769px) {

    .none {
        display: none;
    }

}

@media only screen and (min-width: 992px) {

    .text-font {
        width: 50%;
    }


}